{% extends 'base.html' %}

{% block content%}

    {% if object_list %}
        <p><a href="{% url 'car-create' %}">Создать</a></p>
    {% else %}
        <p>Нет машин. <a href="{% url 'car-create' %}">Создать</a></p>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for car in object_list %}
        <div>
            <label>Номер:</label>
            {{ car.number }}
            <label>Марка:</label>
            {{ car.mark }}
            <label>Модель:</label>
            {{ car.model }}

            <form method="POST" action="{% url 'car-delete' car.pk %}">
                {% csrf_token %}
                <input type="hidden" value="Confirm">
                <button type="submit">Удалить</button>
            </form>

            <a href="{% url 'car-update' car.pk %}">Изменить</a>

            <br>
            <br>
        </div>
    {% endfor %}

{% endblock %}