{% extends "base.html" %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form.old_password.errors }}
        <label>Старый пароль</label>
        <input type="password" name="old_password">
        {{ form.new_password1.errors }}
        <label>Новый пароль</label>
        <input type="password" name="new_password1">
        {{ form.new_password2.errors }}
        <label>Подтвердить новый пароль</label>
        <input type="password" name="new_password2">
        <button type="submit">Изменить</button>
    </form>

{% endblock %}
